.all{
    margin: auto;
    width: 1080px;
    font-family:微軟正黑體 ;
}

.block{
    display: flex;
    width: 1080px;
    margin: auto ;
    
}

.product-group{
    width: 150px;
    margin: 5px ;
    padding: 10px;
    
}

.product-group:hover{
    background-color:#FFFACD;
    cursor: pointer;
}

div img{
    width: 150px;
    margin: auto;
}

section{
    color: red;
    height: 10px;
    font-size: 12px;
    margin: 20px 0px 0px 10px;
}

h1{
    font-size: 12px;
    height: 50px;
    color: gray;
    margin: 10px 0px 0px 0px;
}


.price{
    color:#FF4C76;
    text-align: left;
    font-size: 20px;
    margin: 20px 0px 0px 5px;
}

.price span:first-child{
    font-size: 11px;
}

.price span:last-child{
    font-size: 10px;
    color: gray;
}

.star{
    display: flex;
    width: 15px;
    margin: 1px;
}
.star .evaluate{
    font-size: 10px;
    color: gray;
    margin: 1px;
}

.stock{
    font-size: 11px;
    margin: 1px 0px 0px 5px;
}


.icon{
    background-color:#EEEEEE;
    width: 150px;
    height: 20px;
    text-align: right;
    margin: 5px 0px 0px 0px;
}

.icon span{
    font-size: 11px;
    color: #FFFFFF;
    background-color: #FF4C76;
    text-align: right;
    border-radius:3px;
    margin: 0px 3px 0px 0px;
}

.icon img{
    width: 25px;
    border-radius:3px;
    margin: 2px 2px 0px 0px;
}

.icon p{
    font-size: 12px;
    height: 20px;
    font-weight:700;
    color: grey;
    text-align: center;
    margin: 2px 0px 0px 0px;
}


.hr-dotted {
    border: 0;
    border-top: 1px dotted #a2a9b6;
}