*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 微軟正黑體;
}

.front-page{
    width: 1200px;
    box-sizing: border-box;
    margin: auto;
}

.title{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    align-items: flex-end;
    margin-top: 20px;
}

.title-content{
    font-size: 26px;
    
}

.title-content span{
    font-size: 14px;
    color: gray;
    margin-left: 10px;
}

.title a{
    font-size: 14px;
    margin-right: 10px;
    color: #f65936;
    font-weight:bolder;
}

.title a::after{
    content: '→';
    font-size: 9px;
    border: 1px solid #f65936;
    color: #f65936;
    border-radius:100%;
    margin-left: 5px;
    padding:2px 5px 4px 5px;
    display: inline-block;
}

.title a:hover{
    color: #f65936;
    opacity: .8;
}

.card-content{
    width: 1200px;
    box-sizing: border-box;
    display: flex;
    margin: auto;
    padding: 10px;
    gap: 20px;
}

.card-content:nth-last-child(1){
    flex-direction: row-reverse;
}

.card-content a:hover{
    opacity: .8;  /*可見度*/
    transition: all .5s;
}

.focus{
    width: 600px;
    box-sizing: border-box;

}

.focus .icon{
    display: flex;
}


.focus .icon img{
    width: 15px;
}

.focus .icon p{
    padding: 5px 5px;
    font-size: 12px;
}

.focus p{
    font-size: 14px;
    color: gray;
}

.focus-text h2{
    color: black;
}

.focus img{
    width: 100%;
    border-radius: 5%;
}

.focus-text{
    display: flex;
}

.focus-text h2, p{
    width: 0px;
    flex-grow: 1;
    padding: 10px;
}


.focus-text .focus-time{
    display: block;
    font-size: 12px;
    color:gray ;
    margin-top: auto;
    line-height: 40px;

}

.news{
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.news-card{
    flex-direction: column;
    display: flex;
}

.news .icon{
    display: flex;
}

.news .icon img{
    width: 15px;
}

.news .icon p{
    font-size: 12px;
    color: grey;
    height: 19px;
    padding: 5px 5px;
}

.news-card img{
    width: 100%;
    border-radius: 5%;
    object-fit: cover;
}

.news-card h2{
    display: flex;
    font-size: 20px;
    color: black;
}

.news-card .news-time{
    display: block;
    margin-top: auto;
    font-size: 10px;
    color: grey;
}

hr{
    margin: 20px 0px;
    border: 0;
    border-top: 1px solid #d0d0d5
}
